*.list
*cxmenu-cxoffice*
.converted-launchers
.vivaldi_user_id
CMakeTools/
Daedalus/
Edraw/
FlClash/
Foxit Software/
HubStaff/
JetBrains/
KDE/
Kingsoft/
Meltytech/
Minor\ Key\ Games
QtProject/
RecentDocuments/login.desktop
SciTools/
Steam/
TabNine/
TelegramDesktop/
Trash/
Zeal/
afl.rs/
akonadi/
akregator/
app-info/
ark/
atuin/
bash-completion/
calibre-ebook.com/
cargo-msrv
charm/
clash-verge/
clipit/
com.github.johnfactotum.Foliate/
containers/
data
desktop-directories/
discover/
doc
dolphin/
epiphany/
fcitx5/
felix/
fish/
flatpak/
focus/
fonts/
gedit/
gegl-0.2/
gem/
glances/
gnome-mines/
goldendict/
grilo-plugins/
gvfs-metadata/
gwenview/
icons/
inxi/
io.github.clash-verge-rev.clash-verge-rev/
io.parity.ethereum
ion/history
juk/
jupyter/
kactivitymanagerd-bak/
kactivitymanagerd/
kalarm/
kate/
katebtbrowser/
kcookiejar/
kdevappwizard/
kdevelop-qthelp/
kdevelop/
kdevfiletemplates/
keybase/
khelpcenter/
klipper/
kmail2/
knewstuff3/
konqueror/
konsole/
kontrast/
korganizer/
krdc/
krita/
krunnerstaterc
kscreen/
ktnef/
kvtml/
kwalletd/
kwrite/
kxmlgui5/
lf/
libgda/
libisabelle/
libkunitconversion/
localsend_app/
lokalize/
man
marble/
mime/
netscanner/
nix/
nodebox
nomacs/
nvim/
okular/
omn
phishingurl/
plasma-systemmonitor/
plasma/
plasmashell/
pnpm/
pypoetry/
qpdfview/
qutebrowser/
radare2/
recently-used.xbel
remmina/
remoteview/
sddm/
session_migration-*
sounds/
ubuntu-amazon-default/
ulauncher/
user-places.xbel
user-places.xbel.bak
user-places.xbel.tbcache
virtualenv/
vlc/
vulkan/
webkit/
webkitgtk/
wezterm/
xfce4/
xmake/
xonsh/*.json
xonsh/man_completions_cache
xorg/
zathura/
zellij/
zoxide/
zsh-completion/
zsh/
