data
doc
fonts
gvfs-metadata
icons
man
recently-used.xbel
sounds
Trash
vlc
nodebox
.converted-launchers
*cxmenu-cxoffice*
desktop-directories/
mime/
ubuntu-amazon-default/
JetBrains/
konsole/
HubStaff/
libisabelle/
grilo-plugins/
kactivitymanagerd/
webkit/
gegl-0.2/
session_migration-*
vulkan
Minor\ Key\ Games
Steam
io.parity.ethereum
afl.rs/
teamviewer13
