data
doc
fonts
gvfs-metadata
icons
man
recently-used.xbel
sounds
Trash
vlc
nodebox
.converted-launchers
*cxmenu-cxoffice*
desktop-directories/
mime/
ubuntu-amazon-default/
JetBrains/
konsole/
HubStaff/
libisabelle/
grilo-plugins/
kactivitymanagerd/
webkit/
gegl-0.2/
session_migration-*
vulkan
Minor\ Key\ Games
Steam
io.parity.ethereum
afl.rs/
teamviewer13
keybase/
Daedalus/
qpdfview/
nomacs/
kwalletd/
Foxit Software/
.vivaldi_user_id
QtProject/
radare2/
okular/
jupyter/
epiphany/
xfce4/
clipit/
webkitgtk/
libgda/
user-places.xbel
user-places.xbel.tbcache
*.list
Kingsoft/
Meltytech/
app-info/
xorg/
kdevelop/
kdevelop-qthelp/
kdevappwizard/
kdevfiletemplates/
knewstuff3/
kxmlgui5/
remmina/
nix/
flatpak/
com.github.johnfactotum.Foliate/
ion/history
RecentDocuments/login.desktop
xonsh/*.json
xonsh/man_completions_cache
gnome-mines/
TabNine/
SciTools/
Edraw/
