[Desktop Entry]
Type=Application
Version=1.0
Name=Clash Verge
Comment=Clash Vergestartup script
Exec=/usr/bin/clash-verge 
StartupNotify=false
Terminal=false