*.swp
*.pyc
*.pyo
*~

.*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist

\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
\#*
\.#*

# Org-mode
.org-id-locations
*_archive

*.log
_emacs.keyfreq


# for security issues
/_notifier.conf

*.tar.gz

# links
_emacs.d/elisp/rtags
_emacs.d/recentf

.DS_Store
_PyCharm30
/BAK/
