*~
\#*
\#*\#
\.#*
*_archive
auto-save-list
/BAK/
_bin/rafl
.ccls-cache/
.DS_Store
.elc
_emacs.d/elisp/rtags
/.emacs.desktop
/.emacs.desktop.lock
_emacs.d/recentf
_emacs.keyfreq
# for security issues
.idea
# links
*.log
.netrwhist
node_modules/
/_notifier.conf
.org-id-locations
# Org-mode
plug.vim
*.pyc
_PyCharm30
*.pyo
.*.s[a-w][a-z]
Session.vim
*.swp
tags/
*.tar.gz
_texmf/
tramp
*.un~
