*
!*/
!autostart/*
!bleachbit/*
!cppman/*
!fcitx/*
!inkscape/*
!libfm/*
!lxpanel/*
!lxqt/*
!lxpanel/*/*/*
!lxsession/*/*
!openbox/*
!pcmanfm/*
!ranger/*
!xarchiver/*
!zathura/*
!htop/htoprc

!user-dirs.dirs
!user-dirs.locale

!.gitignore
!flake8
