*
!*/
!autostart/*
!bleachbit/*
!cppman/*
!fcitx/*
!feh/*
!gtk-2.0/*
!gtk-3.0/*
!gpicview/*
!inkscape/*
!leafpad/*
!libfm/*
!lxpanel/*
!lxpanel/*/*/*
!lxsession/*/*
!openbox/*
!pcmanfm/*
!ranger/*
!xarchiver/*
!zathura/*
!htop/htoprc

!user-dirs.dirs
!user-dirs.locale

!.gitignore
