2048-qt/
Code/
Cutter/
DjVuLibre/
Foxit Software/
IJHack/
Meltytech/
Mousepad/
QtProject.conf
Trolltech.conf
Writefull/
arkrc
audacious/
brave/
cherrytree/
chrome-remote-desktop/
chromium/
dconf/
easytag/
electronic-wechat/
fot/
gedit/
gnome-games/
gnome-mplayer/
google-chrome-unstable/
google-chrome/
jd-gui.cfg
kactivitymanagerdrc
kapptemplaterc
kateschemarc
katevirc
kcalcrc
kdeveloprc
libreoffice/
lsc/
lximage-qt/
lxtask.conf
menus/
mimeapps.list
msec.it/
muonrc
netease-cloud-music/
nobleNote/
nomacs/
okular.kmessagebox
okularpartrc
okularrc
opera/
partitionmanagerrc
plasma-localerc
pulse/
quassel-irc.org/
quasselrc
radare2/history
ranger/bookmarks
ranger/history
ranger/tagged
remmina/
smartgit/
texstudio/
ulauncher/
update-notifier/
vlc/vlc-qt-interface.conf
xpad/
configstore/
direnv/
featherpad/
rclone/
smplayer/
wireshark/
evince/
tencent-qq/
truffle/
ibus/
xubuntu/
pcmanfm-qt/
pcmanfm/
totem/
ristretto/
kcharselectrc
pcloud/
evolution/
gtk-4.0/
atril/
Thunar/
catfish/
Ganache/
clipit/clipitrc
htop/
fcitx/profile
TabNine/
gtk-2.0/
GIMP/
xfce4/panel/
expressvpn/
xfce4/xfconf/xfce-perchannel-xml/ 
fcitx/pinyin/
autostart/expressvpn-agent.desktop
SciTools/
sourcetrail/
