arkstaterc
discoverstaterc
dolphinstaterc
katestaterc
kdfstaterc
kgetstaterc
khelpcenterstaterc
konsolestaterc
ksudokustaterc
lesshst
nvim/
omn/
plasmasessionrestorestaterc
plasmashellstaterc
pnpm/
systemsettingsstaterc
wireplumber/
xdg-desktop-portal-kdestaterc
