akonadiconsolestaterc
akregatorstaterc
arkstaterc
bomberstaterc
discoverstaterc
dolphinstaterc
dragonplayerstaterc
filelightstaterc
gwenviewstaterc
jukstaterc
kalarmstaterc
kalziumstaterc
kapmanstaterc
katestaterc
kblackboxstaterc
kblocksstaterc
kbouncestaterc
kbreakoutstaterc
kcachegrindstaterc
kcalcstaterc
kdfstaterc
kgetstaterc
kgoldrunnerstaterc
khelpcenterstaterc
kimagemapeditorstaterc
klinesstaterc
kmagstaterc
kmenueditstaterc
kminesstaterc
knetwalkstaterc
kolfstaterc
kolourpaintstaterc
konquerorstaterc
konsolestaterc
korganizerstaterc
krdcstaterc
ksudokustaterc
ktnefstaterc
kuiviewerstaterc
kwalletmanagerstaterc
kwordquizstaterc
lesshst
lokalizestaterc
nvim/
okularstaterc
omn/
parleystaterc
plasmasessionrestorestaterc
plasmashellstaterc
pnpm/
sweeperstaterc
systemsettingsstaterc
wireplumber/
xdg-desktop-portal-kdestaterc
