[Desktop Entry]
X-UserData=$CONFIG/kupfer;$DATA/kupfer;$CACHE/kupfer
Type=Application
X-GNOME-Autostart-enabled=true
Name=Kupfer
Exec=kupfer  --no-splash
Icon=kupfer
GenericName=Application Launcher
StartupNotify=true
Comment=Convenient command and access tool for applications and documents
Version=1.0
Categories=Utility;
