[Desktop Entry]
Exec=lxqt-powermanagement
Hidden=true
Name=LXQt Powermanagement
Name[pt]=Gestor de energia do LxQt
OnlyShowIn=LXQt;
TryExec=lxqt-powermanagement
Type=Application
Version=1.0
X-LXQt-Module=true
X-LXQt-Need-Tray=true
