######################################################################
# @author      : {{NAME}} ({{EMAIL}})
# @created     : {{TIMESTAMP}}
######################################################################

cmake_minimum_required(VERSION 3.0)
project({{CURSOR}} C)

add_executable(main main.c)
