/**
 * @author      : {{NAME}} ({{EMAIL}})
 * @created     : {{TIMESTAMP}}
 */

import React, {Component}  from 'react'
import PropTypes from 'prop-types'

export default class {{FILE}} extends Component {
  static propTypes = {
  }

  static defaultProps = {
  }

  render() {
    return (
    <div>
    {{CURSOR}}
    </div>
    )
  }
}

