#!/usr/bin/env sh

######################################################################
# @author      : {{NAME}} ({{EMAIL}})
# @created     : {{TIMESTAMP}}
#
# @description : {{CURSOR}}
######################################################################
