#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Save to Pocket
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=niloccemoadcdkdjlinkgdfekeahmflj
Icon=chrome-niloccemoadcdkdjlinkgdfekeahmflj-Default
NoDisplay=true
StartupWMClass=crx_niloccemoadcdkdjlinkgdfekeahmflj
