2048-qt/
akregatorrc
arkrc
atril/
atuin/
audacious/
autostart/expressvpn-agent.desktop
baloofileinformationrc
baloofilerc
bluedevilglobalrc
bottom/
brave/
btop/btop.conf
btop/btop.log
calibre/
catfish/
cherrytree/
chrome-remote-desktop/
chromium/
/clash/
clipit/clipitrc
coc/
Code/
configstore/
Cutter/
dconf/
direnv/
discoverrc
DjVuLibre/
dolphinrc
dragonplayerrc
drkonqirc
easytag/
electronic-wechat/
emaildefaults
emailidentities
eventviewsrc
evince/
evolution/
expressvpn/
fcitx/
fcitx5/
fcitx5/conf/
fcitx/conf/fcitx-classic-ui.config
fcitx/pinyin/
fcitx/profile
featherpad/
filezilla/
focus/
fot/
Foxit Software/
Ganache/
gedit/
gh/
GIMP/
gnome-games/
gnome-initial-setup-done
gnome-mplayer/
google-chrome/
google-chrome-unstable/
gpicview/
gtk-2.0/
gtk-3.0
gtk-4.0/
gtkrc
gtkrc-2.0
gwenviewrc
htop/
ibus/
IJHack/
ion/
iterm2/
jd-gui.cfg
JetBrains/
jgit/
kactivitymanagerdrc
kactivitymanagerd-statsrc
kapptemplaterc
kate/
katemetainfos
katerc
kateschemarc
katevirc
kcachegrindrc
kcalcrc
kcharselectrc
kcminputrc
kconf_updaterc
KDE/
kdeconnect/
kded5rc
kdedefaults/
kdeglobals
kde.org/
kdeveloprc
kfontinstuirc
kglobalshortcutsrc
khelpcenterrc
khotkeysrc
khtml/
kinfocenterrc
klipperrc
kmail2rc
kmailsearchindexingrc
kmixrc
konq_history
konquerorrc
konsolerc
konsolesshconfig
korganizerrc
kprivacyrc
krunnerrc
kscreenlockerrc
ksmserverrc
ksudokurc
ktimezonedrc
ktnefrc
kuriikwsfilterrc
kwalletmanager5rc
kwalletrc
kwinrc
kwinrulesrc
kwriterc
kxkbrc
lemonade.toml
libaccounts-glib/
libreoffice/
listen1/
lsc/
lximage-qt/
lxpanel.bak/
lxqt.bak/
lxtask.conf
massren/
mdless/
Meltytech/
memos.json
menus/
meteo-qt/
Microsoft/
microsoft-edge/
mimeapps.list
Mousepad/
msec.it/
muonrc
netease-cloud-music/
nobleNote/
nomacs/
okular.kmessagebox
okularpartrc
okularrc
omn
opera/
partitionmanagerrc
pavucontrol.ini
pcloud/
pcmanfm/
pcmanfm-qt/
phishingurlrc
pip/pip.conf
PlasmaDiscoverUpdates
plasma.emojierrc
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasmaparc
plasmarc
plasmashellrc
PlasmaUserFeedback
plasma-welcomerc
powermanagementprofilesrc
print-manager
pulse/
python_keyring/
qBittorrent/
Qlipper/
qpdfview/
qps/
qterminal.org/
QtProject/
QtProject.conf
quassel-irc.org/
quasselrc
radare2/history
ranger/bookmarks
ranger/history
ranger/tagged
rclone/
remmina/
ristretto/
SciTools/
screengrab/
session/
/shell-proxy
smartgit/
smplayer/
smtube/
sourcetrail/
spectaclerc
startupconfig
startupconfigfiles
startupconfigkeys
sweeperrc
symantec.com/
systemmonitorrc
systemsettingsrc
TabNine/
teams
tencent-qq/
texstudio/
Thunar/
totem/
transmission/
Trolltech.conf
truffle/
ulauncher/
update-notifier/
user-dirs.dirs
vlc/vlc-qt-interface.conf
webengineurlinterceptoradblockrc
wireshark/
Writefull/
wslu/
xarchiver/
xfce4/panel/
xfce4/xfconf/xfce-perchannel-xml/ 
xpad/
xsettingsd/
xubuntu/
yelp/
Zeal/
