*
!*/
!autostart/*
!bleachbit/*
!Doxygen.org/*
!fcitx/*
!feh/*
!gpicview/*
!gtk-2.0/*
!inkscape/*
!leafpad/*
!libfm/*
!lxpanel/*
!lxpanel/*/*/*
!lxsession/*/*
!lxterminal/*
!openbox/*
!pcmanfm/*
!ranger/*
!xarchiver/*
!zathura/*

!user-dirs.dirs
!user-dirs.locale

!.gitignore

