[Desktop Entry]
NoDisplay=true
Version=1.0
Encoding=UTF-8
Type=X-XFCE-Helper
X-XFCE-Category=TerminalEmulator
X-XFCE-CommandsWithParameter="/usr/local/bin/alacritty -e tmux" "%s"
Icon=alacritty -e tmux
Name=alacritty -e tmux
X-XFCE-Commands=/usr/local/bin/alacritty -e tmux

