bin
lib

share/evolution/
share/gsettings-data-convert
share/icc/
share/keyrings/
share/rhythmbox/
share/session_migration-ubuntu
share/unity-settings-daemon/
share/unity-webapps/
share/zeitgeist/
share/gnome-software
state/bap/
share/systemd/
