
bin/
lib/
pipx/
share/evolution/
share/gnome-software/
share/gsettings-data-convert
share/icc/
share/kded5/
share/keyrings/
share/powershell/
share/rhythmbox/
share/session_migration-ubuntu
share/systemd/
share/unity-settings-daemon/
share/unity-webapps/
share/zeitgeist/
sourcegraph/
state/bap/
